html {
  font-size: 62.5%;
}
* {
  box-sizing: border-box;
}
body {
  font-family: "Bona Nova", serif;
  font-size: 1.6rem;
  font-weight: normal;
  outline: none;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
}
.container {
  max-height: 100rem;
  background-color: #6f16d8;
  padding: 4rem;
}
.active-home {
  border-bottom: 3px solid white !important;
  padding-bottom: 10px;
}
.header {
  //-------------------- Logo và menu --------------------
  &-main {
    // max-width: 1100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    &_logo {
      display: inline-block;
      text-transform: uppercase;
      font-size: 3rem;
      font-weight: 700;
      color: white;
    }
    &_menu {
      cursor: pointer;
      display: flex;
      flex-direction: row;
      position: relative;
      &__item:not(:last-child) {
        margin-right: 5rem;
      }
      &__link {
        text-transform: uppercase;
        display: inline-block;
        color: white;
        font-size: 1.4rem;
        border-bottom: 2px solid transparent;
        padding-bottom: 10px;
        transition: all 0.25s linear;
      }
      &__link:hover {
        color: black;
        border-bottom: 3px solid white;
      }
    }
  }
}
@media screen and (max-width: 767px) {
  .container {
    padding: 3rem;
  }
  .header-main {
    display: block;
    &_logo {
      display: block;
      text-align: center;
      padding-bottom: 1rem;
    }
  }
  .header-main_menu__item:not(:last-child) {
    margin-right: 1.4rem;
  }
  .header-main_menu__link {
    font-size: 1.5rem;
    text-transform: capitalize;
  }
}
//-------------------- Phần header trung tâm --------------------
.header
{
    &-center {
      padding-top: 15rem;
      display:flex;
      justify-content: space-between;
    }
    &-left {
      margin-top: 2rem;
      &_title {
        color:white;
        font-size: 5rem;
        font-weight: bold;
        padding-bottom: 5rem;
      }
      &_desc
      {
        color:white;
        max-width:400px;
        line-height:1.4;
        padding-bottom: 5rem;
      }
      &_link{
        display: inline-block;
        padding: 1rem 2rem;
        color:white;
        text-transform: uppercase;
        border-radius:0.5rem;
        border: 1px solid white;
        transition: all 0.25s linear;
        margin-right: 2rem;
      }
      &_link:hover{
        background-color: #fff;
        color:black;
      }
    }
    &-right {
      margin-right: 10rem;
      margin-top: -10rem;
      &_image
      {
        width:45rem;
      }
    }
}
@media  screen and (max-width:1023px){
  .header-left {
    margin-top: 2rem;
}

}