.business {
    padding-bottom: 8rem;
  &-content {
      margin: 0 auto;
      text-align: center;
    &_text {
      padding-bottom: 25px;
    }
  }
}
.title-business{
    max-width:426px;
    font-size: 40px;
}
