.markeing{
    &-container{
        display:flex;
        justify-content: space-between;
        align-items: center;
        gap: 0 30px;
        position: relative;
    }
    &-content{
        max-width: 500px;
    }
    &-image{
       
    }
}