.brand-image {
  padding-top: 14rem;
  padding-bottom: 14rem;
}
.markeing {
  &-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0 30px;
    position: relative;
  }
  &-content {
    max-width: 500px;
  }
  &-text {
    padding-bottom: 18px;
  }
  &-title {
    font-size: 50px;
    padding-bottom: 25px;
  }
  &-desc {
    padding-bottom: 5rem;
  }
  &-bottom {
    display: flex;
    align-items: center;
    gap: 0 36px;
    &_image {
      padding: 20px;
      border-radius: 100rem;
      box-shadow: 0 42px 114px 0 rgb(155, 135, 135);
    }
    &_text {
      color: $title-color;
    }
  }
}
@media screen and (max-width: 1023px) {
  .markeing-container {
    flex-direction: column;
  }
  .markeing-content {
    max-width: 100%;
}
}
@media  screen and (max-width:767px){
  .markeing-bottom {
    gap: 0 10px;
}
.markeing-title {
  font-size: 39px;
}
.brand-image {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

}
