.markeing{
    &-container{
        display:flex;
        justify-content: space-between;
        align-items: center;
        // gap: 0 30px;
        position: relative;
    }
    &-content{
        max-width: 500px;
    }
    &-image{
       position:absolute;
       right:0;
       top: 50%; 
       transform: translate(60px,-50%);   
       img{
           width: 100%;
       }
    }
}