.newsletter{
    padding-bottom: 10rem;
    &-container{
        display:flex;
        
        align-items: center;
    }
    &-content{
        &_title{
            max-width:405px;
            font-size: 48px;
            margin-bottom: 2.5rem;
        }
        &_desc{
            display: inline-block;
            max-width: 340px;
        }
    }
}