.newsletter{
    padding-bottom: 10rem;
    &-container{
        display:flex;
        justify-content: space-between;
        align-items: center;
        gap: 0 20px;
    }
    &-content{
        &_title{
            max-width:405px;
            font-size: 48px;
            margin-bottom: 2.5rem;
        }
        &_desc{
            display: inline-block;
            max-width: 340px;
        }
    }
}