.post{
   &-content{
       margin: 0 auto;
       text-align: center;
       &_title{
              display: inline-block;
        margin: 0 auto;
           font-size: 40px;
           max-width:455px;
           padding-bottom: 2.5rem;
       }
   }
}