.world
{
    padding-bottom: 9rem;
    &-container{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: nowrap;
        flex-direction: row;
        gap: 0 80px;
    }
    &-image{
        width: 100%;
    }
    &-content{
        &_text{
            margin-bottom: 2.5rem;
        }
        &_title{
            display:inline-block;
            max: width 424px;
            font-size: 40px;
            margin-bottom: 2.5rem;
        }
        &_desc{
            margin-bottom: 3.7rem;
        }
    }
}