.heading{
    max-width:460px;
    text-align:center;
    margin: 0 auto;
    &-top{
        font-weight: 500;
        font-size: 35px;
        line-height: calc(50/35);
        color:$title-color;
    }
}
.customer{
    padding-top:5rem;
    &-top{
        min-width: ;

    }
}