.footer
{
    background-color: #F6F6F6;
    &-container{
        margin-top: 6rem;
        display:grid;
        grid-template-columns: 
    }
    &-left{
        &_logo{
            margin-bottom: 2rem;
        }
        &_desc{
            max-width:320px;
            strong{
                font-weight: 500;
            }
        }
    }
}