.hero{
    
    &-container
    {
        display:flex;
        justify-content: space-between;
        align-items: center;
    }
    &-content{
        align-items: center;
        width: 100%;
        max-width:550px;
        &_heading{
            font-weight: 500;
            color:$title-color;
            font-size: 50px;
            line-height:calc(70/50);
            margin-bottom: 2rem;
        }
        &_desc{
            display: block;
            line-height:calc(30/16);    
            margin-bottom: 5rem;
            strong{
                font-weight: 500;
            }
        }
        &_image{
            width: 100%;
        }
       
    }
}
