.hero{
    &-container
    {
        display:flex;
        justify-content: space-between;
        align-items: center;
    }
    &-content{
        width: 100%;
        max-width:550px;
        &_heading{
            font-weight: 500;
        }
    }
    &-image{
        flex-shrink: 0;
    }

}