.intro {
  margin-bottom: 95px;
  &-container {
    padding: 37px 0;
    box-shadow: 0 42px 114px 0 rgba(13, 16, 37, 0.226);
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    border-radius: 10px;
    background-color: #fff;
    min-height: 200px;
  }
  &-item {
    display: flex;
    justify-content: center;
    align-items: center;
    &_user {
      margin-right: 2rem;
    }
    &_info {
      &__number {
        font-weight: 700;
        font-size: 25px;
        margin-bottom: 6px;
        line-height: calc(30 / 25);
      }
      &__desc{
        line-height: calc(30 / 20);
      }
    }
    height: 125px;
  }
}
@media screen and (min-width: 768px) {
  .intro-item:nth-child(2) {
    border-right: 2px solid #eeeff2;
    border-left: 2px solid #eeeff2;
  }
}
@media screen and (max-width: 1023px) {
  .intro-item_info {
    padding-right: 50px;
  }
}
@media screen and (max-width: 767px) {
  .intro-container {
    grid-template-columns: 100%;
    grid-gap: 50px 0;
  }
  .intro-item {
    flex-direction: column;
    &_info {
      text-align: center;
      margin: 0 auto;
    }
    &_user {
      margin-right: 0;
      margin-bottom: 1rem;
    }
  }
}
