.intro{
    &-item
    {
        padding: 85px 120px 129px 50px;
        display:flex;
        align-items: center;
        &_user{
            margin-right: 35px;
        }
        &_info{
            &__number{
                font-weight: 700;
                font-size: 25px;
                margin-bottom: 6px;
            }
        }
    }
}