.intro {
  margin-bottom: 95px;
  &-container {
    padding: 37px 0;
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    box-shadow: 0 42px 114px 0 rgba(13, 16, 37, 0.226);
    border-radius: 10px;
    background-color: #fff;
  }
  &-item {
    display: flex;
    justify-content: center;
    align-items: center;
    &_user {
      margin-right: 2rem;
    }
    &_info {
      &__number {
        font-weight: 700;
        font-size: 25px;
        margin-bottom: 6px;
      }
    }
    height: 125px;
  }
  &-item:nth-child(2) {
    border-right: 2px solid #eeeff2;
    border-left: 2px solid #eeeff2;
  }
}
@media screen and (max-width: 1023px) {
  .intro-item_info {
    padding-right: 50px;
  }
}
@media screen and (max-width: 767px) {
  .intro-container {
    grid-template-columns: 100%;
    grid-gap: 50px 0;
    padding: 37px;
  }
  .intro-item:nth-child(2) {
    border-right: none;
    border-left: none;
  }
  .intro-item {
      flex-direction: column;
      &_info {
          &__number{
              text-align: center;
              margin:0 auto;
          }
        }
        
    }
    .intro-item_user {
      margin-right: 0;
    margin-bottom: 1rem;
  }
}
