.intro {
  &-container {
    padding: 37px 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    position: relative;
    &:after {
      background: #0d1025;
      opacity: 0.06;
      filter: blur(114px);
      border-radius: 10px;
      position:absolute;
      top
    }
  }
  &-item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row;
    gap: 0 36px;
    &_info {
      padding-right: 130px;
      &__number {
        font-weight: 700;
        font-size: 25px;
        margin-bottom: 6px;
      }
    }
  }
  &-item:not(:nth-child(3)) {
    border-right: 2px solid #eeeff2;
    height: 125px;
  }
}
