.network
{
    &-heading{
        max-width:555px;
        &_title{
            font-weight: 500;
            font-size: 35px;
            margin-bottom: 2rem;
            color:$title-color;
        }
        &_desc{
            font-weight: 500;
            line-height: calc(30/16)
        }
    }
}