.plan{
    background-color: #F6F6F6;
    &-heading{
        padding-top: 10rem;
        margin: 0 auto;
        text-align: center;
        &_title{
            font-weight: 500;
            font-size: 35px;
            margin-bottom: 2rem;
        }
        &_desc{
            f
        }
    }
}