.plan{
    background-color: #F6F6F6;
    &-heading{
        padding-top: 10rem;
        margin: 0 auto 60px;
        text-align: center;
        &_title{
            font-weight: 500;
            font-size: 35px;

        }
    }
}