.include {
  padding-bottom: 14rem;
}
.world {
  &-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row;
    gap: 0 80px;
  }
  &-image {
    width: 100%;
  }
  &-content {
    &_text {
      margin-bottom: 2.5rem;
    }
    &_title {
      display: inline-block;
      max-width: 424px;
      font-size: 40px;
      margin-bottom: 2.5rem;
    }
    &_desc {
      display: inline-block;
      max-width: 502px;
      margin-bottom: 3.7rem;
    }
  }
}
.world2 {
  padding: 100px 20px !important;
  margin-top: 9rem;
  padding: 0 20px;
  background-color: #f4f8fd;
  gap: 0 20px;
}
@media screen and (max-width: 1023px) {
  .world-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
    flex-wrap: nowrap;
    /* flex-direction: row; */
    gap: 0 80px;
  }
  .world-content_desc {
    display: block;
    max-width: 100%;
  }
  .world-content {
    padding-left: 20px;
  }
  .world2 {
    flex-direction: column !important;
  }
}
@media screen and (max-width: 1023px) {
  .world2 {
    padding: 50px 20px !important;
  }
  .include {
    padding-bottom: 10rem;
  }
}
@media screen and (max-width: 767px) {
  .world-content_title {
    max-width: 100%;
    font-size: 33px;
  }
  .world-content {
    padding: 0 10px;
  }
  .include {
    padding-bottom: 5rem;
  }
}
